{% extends "base.html" %}

{% block title %}Plot{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>Project Administration Page</h1>
</div>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Add local CSS file and insert it to base.html</li>
        <li class="list-group-item">Add an about.html</li>
        <li class="list-group-item">---</li>
        <li class="list-group-item">---</li>
    </ul>
</div>

{% endblock %}